h1{
    color: white;
    position: fixed;
    top: 20px;
    left: 10vw;
}

.UpperDeck{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}

.LowerDeck{
    margin-top: 40px;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}